{
  "openapi": "3.0.3",
  "info": {
    "title": "Protocol API",
    "description": "Primary REST API",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.pxyz.dev/api/v0" }],
  "paths": {
    "/tenants/{id}/rotate-secret-key": {
      "post": {
        "operationId": "tenants-rotateSecretKey",
        "summary": "Rotate Tenant secret key",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "status": { "type": "string" } },
                  "required": ["status"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants": {
      "get": {
        "operationId": "tenants-list",
        "summary": "Get all Tenants",
        "tags": ["Tenant"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                      "name": { "type": "string" },
                      "slug": { "type": "string" },
                      "publicKey": { "type": "string" },
                      "logoId": {
                        "type": "string",
                        "pattern": "^c[^\\s-]{8,}$",
                        "nullable": true
                      },
                      "logoUri": { "type": "string", "nullable": true },
                      "iconId": {
                        "type": "string",
                        "pattern": "^c[^\\s-]{8,}$",
                        "nullable": true
                      },
                      "iconUri": { "type": "string", "nullable": true },
                      "environment": { "type": "string" },
                      "createdAt": { "type": "string", "format": "date-time" },
                      "updatedAt": { "type": "string", "format": "date-time" }
                    },
                    "required": [
                      "id",
                      "name",
                      "slug",
                      "publicKey",
                      "logoId",
                      "logoUri",
                      "iconId",
                      "iconUri",
                      "environment",
                      "createdAt",
                      "updatedAt"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "post": {
        "operationId": "tenants-create",
        "summary": "Create Tenant",
        "tags": ["Tenant"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orgId": {
                    "type": "string",
                    "pattern": "^c[^\\s-]{8,}$",
                    "nullable": true
                  },
                  "name": { "type": "string", "minLength": 4, "maxLength": 32 },
                  "slug": { "type": "string", "minLength": 4, "maxLength": 32 },
                  "environment": {
                    "type": "string",
                    "enum": ["development", "staging", "production"]
                  },
                  "domain": {
                    "type": "string",
                    "pattern": "^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9])$"
                  }
                },
                "required": ["name", "environment"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "name": { "type": "string" },
                    "slug": { "type": "string" },
                    "publicKey": { "type": "string" },
                    "logoId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "logoUri": { "type": "string", "nullable": true },
                    "iconId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "iconUri": { "type": "string", "nullable": true },
                    "environment": { "type": "string" },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "publicKey",
                    "logoId",
                    "logoUri",
                    "iconId",
                    "iconUri",
                    "environment",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/slug/{slug}": {
      "get": {
        "operationId": "tenants-getBySlug",
        "summary": "[tenants.getBySlug] Get Tenant by slug",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "name": { "type": "string" },
                    "slug": { "type": "string" },
                    "publicKey": { "type": "string" },
                    "logoId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "logoUri": { "type": "string", "nullable": true },
                    "iconId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "iconUri": { "type": "string", "nullable": true },
                    "environment": { "type": "string" },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "publicKey",
                    "logoId",
                    "logoUri",
                    "iconId",
                    "iconUri",
                    "environment",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/{id}": {
      "get": {
        "operationId": "tenants-get",
        "summary": "Get Tenant by id",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "name": { "type": "string" },
                    "slug": { "type": "string" },
                    "publicKey": { "type": "string" },
                    "logoId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "logoUri": { "type": "string", "nullable": true },
                    "iconId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "iconUri": { "type": "string", "nullable": true },
                    "environment": { "type": "string" },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "publicKey",
                    "logoId",
                    "logoUri",
                    "iconId",
                    "iconUri",
                    "environment",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "put": {
        "operationId": "tenants-update",
        "summary": "Update Tenant",
        "tags": ["Tenant"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 32,
                    "nullable": true
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 32,
                    "nullable": true
                  },
                  "iconId": {
                    "type": "string",
                    "pattern": "^c[^\\s-]{8,}$",
                    "nullable": true
                  },
                  "logoId": {
                    "type": "string",
                    "pattern": "^c[^\\s-]{8,}$",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "name": { "type": "string" },
                    "slug": { "type": "string" },
                    "publicKey": { "type": "string" },
                    "logoId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "logoUri": { "type": "string", "nullable": true },
                    "iconId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "iconUri": { "type": "string", "nullable": true },
                    "environment": { "type": "string" },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "name",
                    "slug",
                    "publicKey",
                    "logoId",
                    "logoUri",
                    "iconId",
                    "iconUri",
                    "environment",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "delete": {
        "operationId": "tenants-delete",
        "summary": "Delete Tenant",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": { "schema": { "type": "boolean" } }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/{id}/subscription": {
      "get": {
        "operationId": "tenants-getSubscription",
        "summary": "Get Tenant subscription",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    { "not": {} },
                    {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                        "stripeId": { "type": "string" },
                        "customerId": {
                          "type": "string",
                          "pattern": "^c[^\\s-]{8,}$"
                        },
                        "status": { "type": "string" },
                        "plan": { "type": "string" },
                        "collectionMethod": { "type": "string" },
                        "currentPeriodStart": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "currentPeriodEnd": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "meteredUsageAuthUsers": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageAuthOrganizations": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaUploads": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaStorage": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaBandwidth": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaProcessingTime": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageNotifications": {
                          "type": "number",
                          "minimum": 0
                        },
                        "stripeMonthlySubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredAuthUsersSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredAuthOrganizationsSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaUploadsSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaStorageSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaBandwidthSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaProcessingTimeSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredNotificationsSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": { "type": "string", "format": "date-time" }
                      },
                      "required": [
                        "id",
                        "stripeId",
                        "customerId",
                        "status",
                        "plan",
                        "collectionMethod",
                        "currentPeriodStart",
                        "currentPeriodEnd",
                        "meteredUsageAuthUsers",
                        "meteredUsageAuthOrganizations",
                        "meteredUsageMediaUploads",
                        "meteredUsageMediaStorage",
                        "meteredUsageMediaBandwidth",
                        "meteredUsageMediaProcessingTime",
                        "meteredUsageNotifications",
                        "stripeMonthlySubId",
                        "stripeMeteredAuthUsersSubId",
                        "stripeMeteredAuthOrganizationsSubId",
                        "stripeMeteredMediaUploadsSubId",
                        "stripeMeteredMediaStorageSubId",
                        "stripeMeteredMediaBandwidthSubId",
                        "stripeMeteredMediaProcessingTimeSubId",
                        "stripeMeteredNotificationsSubId",
                        "createdAt",
                        "updatedAt"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  ]
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "post": {
        "operationId": "tenants-createSubscription",
        "summary": "Create Tenant subscription",
        "tags": ["Tenant"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planNickname": { "type": "string" },
                  "coupon": { "type": "string" }
                },
                "required": ["planNickname"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    { "not": {} },
                    {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                        "stripeId": { "type": "string" },
                        "customerId": {
                          "type": "string",
                          "pattern": "^c[^\\s-]{8,}$"
                        },
                        "status": { "type": "string" },
                        "plan": { "type": "string" },
                        "collectionMethod": { "type": "string" },
                        "currentPeriodStart": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "currentPeriodEnd": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "meteredUsageAuthUsers": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageAuthOrganizations": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaUploads": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaStorage": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaBandwidth": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaProcessingTime": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageNotifications": {
                          "type": "number",
                          "minimum": 0
                        },
                        "stripeMonthlySubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredAuthUsersSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredAuthOrganizationsSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaUploadsSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaStorageSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaBandwidthSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaProcessingTimeSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredNotificationsSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": { "type": "string", "format": "date-time" }
                      },
                      "required": [
                        "id",
                        "stripeId",
                        "customerId",
                        "status",
                        "plan",
                        "collectionMethod",
                        "currentPeriodStart",
                        "currentPeriodEnd",
                        "meteredUsageAuthUsers",
                        "meteredUsageAuthOrganizations",
                        "meteredUsageMediaUploads",
                        "meteredUsageMediaStorage",
                        "meteredUsageMediaBandwidth",
                        "meteredUsageMediaProcessingTime",
                        "meteredUsageNotifications",
                        "stripeMonthlySubId",
                        "stripeMeteredAuthUsersSubId",
                        "stripeMeteredAuthOrganizationsSubId",
                        "stripeMeteredMediaUploadsSubId",
                        "stripeMeteredMediaStorageSubId",
                        "stripeMeteredMediaBandwidthSubId",
                        "stripeMeteredMediaProcessingTimeSubId",
                        "stripeMeteredNotificationsSubId",
                        "createdAt",
                        "updatedAt"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  ]
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "patch": {
        "operationId": "tenants-updateSubscription",
        "summary": "Update Tenant subscription",
        "tags": ["Tenant"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "planNickname": { "type": "string" } },
                "required": ["planNickname"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    { "not": {} },
                    {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                        "stripeId": { "type": "string" },
                        "customerId": {
                          "type": "string",
                          "pattern": "^c[^\\s-]{8,}$"
                        },
                        "status": { "type": "string" },
                        "plan": { "type": "string" },
                        "collectionMethod": { "type": "string" },
                        "currentPeriodStart": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "currentPeriodEnd": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "meteredUsageAuthUsers": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageAuthOrganizations": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaUploads": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaStorage": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaBandwidth": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageMediaProcessingTime": {
                          "type": "number",
                          "minimum": 0
                        },
                        "meteredUsageNotifications": {
                          "type": "number",
                          "minimum": 0
                        },
                        "stripeMonthlySubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredAuthUsersSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredAuthOrganizationsSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaUploadsSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaStorageSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaBandwidthSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredMediaProcessingTimeSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "stripeMeteredNotificationsSubId": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": { "type": "string", "format": "date-time" }
                      },
                      "required": [
                        "id",
                        "stripeId",
                        "customerId",
                        "status",
                        "plan",
                        "collectionMethod",
                        "currentPeriodStart",
                        "currentPeriodEnd",
                        "meteredUsageAuthUsers",
                        "meteredUsageAuthOrganizations",
                        "meteredUsageMediaUploads",
                        "meteredUsageMediaStorage",
                        "meteredUsageMediaBandwidth",
                        "meteredUsageMediaProcessingTime",
                        "meteredUsageNotifications",
                        "stripeMonthlySubId",
                        "stripeMeteredAuthUsersSubId",
                        "stripeMeteredAuthOrganizationsSubId",
                        "stripeMeteredMediaUploadsSubId",
                        "stripeMeteredMediaStorageSubId",
                        "stripeMeteredMediaBandwidthSubId",
                        "stripeMeteredMediaProcessingTimeSubId",
                        "stripeMeteredNotificationsSubId",
                        "createdAt",
                        "updatedAt"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  ]
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/{id}/customer": {
      "get": {
        "operationId": "tenants-getCustomer",
        "summary": "Get Tenant customer",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    { "not": {} },
                    {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                        "stripeId": { "type": "string" },
                        "email": { "type": "string" },
                        "paymentMethodId": {
                          "type": "string",
                          "nullable": true
                        },
                        "paymentMethodLast4": {
                          "type": "string",
                          "nullable": true
                        },
                        "paymentMethodBrand": {
                          "type": "string",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": { "type": "string", "format": "date-time" }
                      },
                      "required": [
                        "id",
                        "stripeId",
                        "email",
                        "paymentMethodId",
                        "paymentMethodLast4",
                        "paymentMethodBrand",
                        "createdAt",
                        "updatedAt"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  ]
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/{id}/upcoming-invoice": {
      "get": {
        "operationId": "tenants-getUpcomingInvoice",
        "summary": "Get Tenant upcoming invoice",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "estimate": { "type": "number" } },
                  "required": ["estimate"],
                  "additionalProperties": false,
                  "nullable": true
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/{id}/payment-method": {
      "patch": {
        "operationId": "tenants-updatePaymentMethod",
        "summary": "Update Tenant payment method",
        "tags": ["Tenant"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": { "paymentMethodId": { "type": "string" } },
                "required": ["paymentMethodId"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "status": { "type": "string" } },
                  "required": ["status"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/{tenantId}/members": {
      "get": {
        "operationId": "tenants-listMembers",
        "summary": "Get Tenant members",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["success", "error"]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "tenantId": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "userId": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^c[^\\s-]{8,}$"
                              },
                              "emailAddresses": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "pattern": "^c[^\\s-]{8,}$"
                                    },
                                    "email": {
                                      "type": "string",
                                      "format": "email"
                                    },
                                    "verifiedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "nullable": true
                                    }
                                  },
                                  "required": ["id", "email", "verifiedAt"],
                                  "additionalProperties": false
                                }
                              },
                              "primaryEmailId": {
                                "type": "string",
                                "pattern": "^c[^\\s-]{8,}$",
                                "nullable": true
                              },
                              "name": { "type": "string" }
                            },
                            "required": [
                              "id",
                              "emailAddresses",
                              "primaryEmailId",
                              "name"
                            ],
                            "additionalProperties": false
                          },
                          "roleAdmin": { "type": "boolean" },
                          "roleEditOrganizations": { "type": "boolean" },
                          "roleEditUsers": { "type": "boolean" },
                          "roleEditConfig": { "type": "boolean" },
                          "roleViewUsers": { "type": "boolean" },
                          "roleViewOrganizations": { "type": "boolean" },
                          "roleViewConfig": { "type": "boolean" },
                          "roleViewBilling": { "type": "boolean" },
                          "roleEditBilling": { "type": "boolean" },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "tenantId",
                          "userId",
                          "user",
                          "roleAdmin",
                          "roleEditOrganizations",
                          "roleEditUsers",
                          "roleEditConfig",
                          "roleViewUsers",
                          "roleViewOrganizations",
                          "roleViewConfig",
                          "roleViewBilling",
                          "roleEditBilling",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": { "type": "integer" },
                        "count": { "type": "integer" },
                        "numPages": { "type": "integer" },
                        "perPage": { "type": "integer" },
                        "prev": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "next": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      },
                      "required": ["total", "count", "numPages", "perPage"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["status", "data", "meta"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/members/{id}": {
      "patch": {
        "operationId": "tenants-updateMember",
        "summary": "Update Tenant member",
        "tags": ["Tenant"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roleAdmin": { "type": "boolean" },
                  "roleEditOrganizations": { "type": "boolean" },
                  "roleEditUsers": { "type": "boolean" },
                  "roleEditConfig": { "type": "boolean" },
                  "roleViewUsers": { "type": "boolean" },
                  "roleViewOrganizations": { "type": "boolean" },
                  "roleViewConfig": { "type": "boolean" },
                  "roleViewBilling": { "type": "boolean" },
                  "roleEditBilling": { "type": "boolean" }
                },
                "required": [
                  "roleAdmin",
                  "roleEditOrganizations",
                  "roleEditUsers",
                  "roleEditConfig",
                  "roleViewUsers",
                  "roleViewOrganizations",
                  "roleViewConfig",
                  "roleViewBilling",
                  "roleEditBilling"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "tenantId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$"
                    },
                    "userId": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                        "emailAddresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^c[^\\s-]{8,}$"
                              },
                              "email": { "type": "string", "format": "email" },
                              "verifiedAt": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              }
                            },
                            "required": ["id", "email", "verifiedAt"],
                            "additionalProperties": false
                          }
                        },
                        "primaryEmailId": {
                          "type": "string",
                          "pattern": "^c[^\\s-]{8,}$",
                          "nullable": true
                        },
                        "name": { "type": "string" }
                      },
                      "required": [
                        "id",
                        "emailAddresses",
                        "primaryEmailId",
                        "name"
                      ],
                      "additionalProperties": false
                    },
                    "roleAdmin": { "type": "boolean" },
                    "roleEditOrganizations": { "type": "boolean" },
                    "roleEditUsers": { "type": "boolean" },
                    "roleEditConfig": { "type": "boolean" },
                    "roleViewUsers": { "type": "boolean" },
                    "roleViewOrganizations": { "type": "boolean" },
                    "roleViewConfig": { "type": "boolean" },
                    "roleViewBilling": { "type": "boolean" },
                    "roleEditBilling": { "type": "boolean" },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "tenantId",
                    "userId",
                    "user",
                    "roleAdmin",
                    "roleEditOrganizations",
                    "roleEditUsers",
                    "roleEditConfig",
                    "roleViewUsers",
                    "roleViewOrganizations",
                    "roleViewConfig",
                    "roleViewBilling",
                    "roleEditBilling",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "delete": {
        "operationId": "tenants-deleteMember",
        "summary": "Delete Tenant member",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": { "schema": { "type": "boolean" } }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/members/invite": {
      "post": {
        "operationId": "tenants-inviteMember",
        "summary": "Invite Tenant member",
        "tags": ["Tenant"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenantId": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                  "email": { "type": "string", "format": "email" },
                  "roleAdmin": { "type": "boolean" },
                  "roleEditOrganizations": { "type": "boolean" },
                  "roleEditUsers": { "type": "boolean" },
                  "roleEditConfig": { "type": "boolean" },
                  "roleViewUsers": { "type": "boolean" },
                  "roleViewOrganizations": { "type": "boolean" },
                  "roleViewConfig": { "type": "boolean" },
                  "roleViewBilling": { "type": "boolean" },
                  "roleEditBilling": { "type": "boolean" }
                },
                "required": ["tenantId", "email"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "tenantId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$"
                    },
                    "email": { "type": "string", "format": "email" },
                    "userId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                        "emailAddresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^c[^\\s-]{8,}$"
                              },
                              "email": { "type": "string", "format": "email" },
                              "verifiedAt": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              }
                            },
                            "required": ["id", "email", "verifiedAt"],
                            "additionalProperties": false
                          }
                        },
                        "primaryEmailId": {
                          "type": "string",
                          "pattern": "^c[^\\s-]{8,}$",
                          "nullable": true
                        },
                        "name": { "type": "string" }
                      },
                      "required": [
                        "id",
                        "emailAddresses",
                        "primaryEmailId",
                        "name"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    },
                    "roleAdmin": { "type": "boolean" },
                    "roleEditOrganizations": { "type": "boolean" },
                    "roleEditUsers": { "type": "boolean" },
                    "roleEditConfig": { "type": "boolean" },
                    "roleViewUsers": { "type": "boolean" },
                    "roleViewOrganizations": { "type": "boolean" },
                    "roleViewConfig": { "type": "boolean" },
                    "roleViewBilling": { "type": "boolean" },
                    "roleEditBilling": { "type": "boolean" },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "tenantId",
                    "email",
                    "roleAdmin",
                    "roleEditOrganizations",
                    "roleEditUsers",
                    "roleEditConfig",
                    "roleViewUsers",
                    "roleViewOrganizations",
                    "roleViewConfig",
                    "roleViewBilling",
                    "roleEditBilling",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/{tenantId}/invitations": {
      "get": {
        "operationId": "tenants-listInvitations",
        "summary": "Get Tenant invitations",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["success", "error"]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "tenantId": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "email": { "type": "string", "format": "email" },
                          "userId": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$",
                            "nullable": true
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^c[^\\s-]{8,}$"
                              },
                              "emailAddresses": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "pattern": "^c[^\\s-]{8,}$"
                                    },
                                    "email": {
                                      "type": "string",
                                      "format": "email"
                                    },
                                    "verifiedAt": {
                                      "type": "string",
                                      "format": "date-time",
                                      "nullable": true
                                    }
                                  },
                                  "required": ["id", "email", "verifiedAt"],
                                  "additionalProperties": false
                                }
                              },
                              "primaryEmailId": {
                                "type": "string",
                                "pattern": "^c[^\\s-]{8,}$",
                                "nullable": true
                              },
                              "name": { "type": "string" }
                            },
                            "required": [
                              "id",
                              "emailAddresses",
                              "primaryEmailId",
                              "name"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          },
                          "roleAdmin": { "type": "boolean" },
                          "roleEditOrganizations": { "type": "boolean" },
                          "roleEditUsers": { "type": "boolean" },
                          "roleEditConfig": { "type": "boolean" },
                          "roleViewUsers": { "type": "boolean" },
                          "roleViewOrganizations": { "type": "boolean" },
                          "roleViewConfig": { "type": "boolean" },
                          "roleViewBilling": { "type": "boolean" },
                          "roleEditBilling": { "type": "boolean" },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "tenantId",
                          "email",
                          "roleAdmin",
                          "roleEditOrganizations",
                          "roleEditUsers",
                          "roleEditConfig",
                          "roleViewUsers",
                          "roleViewOrganizations",
                          "roleViewConfig",
                          "roleViewBilling",
                          "roleEditBilling",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": { "type": "integer" },
                        "count": { "type": "integer" },
                        "numPages": { "type": "integer" },
                        "perPage": { "type": "integer" },
                        "prev": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "next": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      },
                      "required": ["total", "count", "numPages", "perPage"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["status", "data", "meta"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/tenants/invitations/{id}": {
      "delete": {
        "operationId": "tenants-deleteInvitation",
        "summary": "Delete Tenant invitation",
        "tags": ["Tenant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": { "schema": { "type": "boolean" } }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "patch": {
        "operationId": "tenants-updateInvitation",
        "summary": "Update Tenant invitation",
        "tags": ["Tenant"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "roleAdmin": { "type": "boolean" },
                  "roleEditOrganizations": { "type": "boolean" },
                  "roleEditUsers": { "type": "boolean" },
                  "roleEditConfig": { "type": "boolean" },
                  "roleViewUsers": { "type": "boolean" },
                  "roleViewOrganizations": { "type": "boolean" },
                  "roleViewConfig": { "type": "boolean" },
                  "roleViewBilling": { "type": "boolean" },
                  "roleEditBilling": { "type": "boolean" }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "tenantId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$"
                    },
                    "email": { "type": "string", "format": "email" },
                    "userId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$",
                      "nullable": true
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                        "emailAddresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^c[^\\s-]{8,}$"
                              },
                              "email": { "type": "string", "format": "email" },
                              "verifiedAt": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              }
                            },
                            "required": ["id", "email", "verifiedAt"],
                            "additionalProperties": false
                          }
                        },
                        "primaryEmailId": {
                          "type": "string",
                          "pattern": "^c[^\\s-]{8,}$",
                          "nullable": true
                        },
                        "name": { "type": "string" }
                      },
                      "required": [
                        "id",
                        "emailAddresses",
                        "primaryEmailId",
                        "name"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    },
                    "roleAdmin": { "type": "boolean" },
                    "roleEditOrganizations": { "type": "boolean" },
                    "roleEditUsers": { "type": "boolean" },
                    "roleEditConfig": { "type": "boolean" },
                    "roleViewUsers": { "type": "boolean" },
                    "roleViewOrganizations": { "type": "boolean" },
                    "roleViewConfig": { "type": "boolean" },
                    "roleViewBilling": { "type": "boolean" },
                    "roleEditBilling": { "type": "boolean" },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "tenantId",
                    "email",
                    "roleAdmin",
                    "roleEditOrganizations",
                    "roleEditUsers",
                    "roleEditConfig",
                    "roleViewUsers",
                    "roleViewOrganizations",
                    "roleViewConfig",
                    "roleViewBilling",
                    "roleEditBilling",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/domains": {
      "get": {
        "operationId": "domains-list",
        "summary": "Get all Domains",
        "tags": ["Domain"],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                      "tenantId": {
                        "type": "string",
                        "pattern": "^c[^\\s-]{8,}$"
                      },
                      "name": { "type": "string" },
                      "primary": { "type": "boolean" },
                      "type": {
                        "type": "string",
                        "enum": ["protocol", "external"]
                      },
                      "verified": { "type": "boolean" },
                      "verificationRecordType": {
                        "type": "string",
                        "nullable": true
                      },
                      "verificationRecordDomain": {
                        "type": "string",
                        "nullable": true
                      },
                      "verificationRecordValue": {
                        "type": "string",
                        "nullable": true
                      },
                      "verificationRecordReason": {
                        "type": "string",
                        "nullable": true
                      },
                      "createdAt": { "type": "string", "format": "date-time" },
                      "updatedAt": { "type": "string", "format": "date-time" }
                    },
                    "required": [
                      "id",
                      "tenantId",
                      "name",
                      "primary",
                      "type",
                      "verified",
                      "verificationRecordType",
                      "verificationRecordDomain",
                      "verificationRecordValue",
                      "verificationRecordReason",
                      "createdAt",
                      "updatedAt"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "post": {
        "operationId": "domains-create",
        "summary": "Create Domain",
        "tags": ["Domain"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenantId": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                  "name": {
                    "type": "string",
                    "pattern": "^(((?!-))(xn--)?[a-z0-9\\-_]{0,61}[a-z0-9]{1,1}\\.)*(xn--)?([a-z0-9-]{1,61}|[a-z0-9-]{1,30})\\.[a-z]{2,}$"
                  }
                },
                "required": ["tenantId", "name"],
                "additionalProperties": false
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "tenantId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$"
                    },
                    "name": { "type": "string" },
                    "primary": { "type": "boolean" },
                    "type": {
                      "type": "string",
                      "enum": ["protocol", "external"]
                    },
                    "verified": { "type": "boolean" },
                    "verificationRecordType": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordDomain": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordValue": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "tenantId",
                    "name",
                    "primary",
                    "type",
                    "verified",
                    "verificationRecordType",
                    "verificationRecordDomain",
                    "verificationRecordValue",
                    "verificationRecordReason",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "operationId": "domains-get",
        "summary": "Get Domain by id",
        "tags": ["Domain"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "tenantId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$"
                    },
                    "name": { "type": "string" },
                    "primary": { "type": "boolean" },
                    "type": {
                      "type": "string",
                      "enum": ["protocol", "external"]
                    },
                    "verified": { "type": "boolean" },
                    "verificationRecordType": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordDomain": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordValue": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "tenantId",
                    "name",
                    "primary",
                    "type",
                    "verified",
                    "verificationRecordType",
                    "verificationRecordDomain",
                    "verificationRecordValue",
                    "verificationRecordReason",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      },
      "delete": {
        "operationId": "domains-delete",
        "summary": "Delete Domain",
        "tags": ["Domain"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": { "schema": { "type": "boolean" } }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/domains/{id}/verify": {
      "post": {
        "operationId": "domains-verify",
        "summary": "Verify Domain",
        "tags": ["Domain"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "tenantId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$"
                    },
                    "name": { "type": "string" },
                    "primary": { "type": "boolean" },
                    "type": {
                      "type": "string",
                      "enum": ["protocol", "external"]
                    },
                    "verified": { "type": "boolean" },
                    "verificationRecordType": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordDomain": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordValue": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "tenantId",
                    "name",
                    "primary",
                    "type",
                    "verified",
                    "verificationRecordType",
                    "verificationRecordDomain",
                    "verificationRecordValue",
                    "verificationRecordReason",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/domains/{id}/primary": {
      "post": {
        "operationId": "domains-setPrimary",
        "summary": "Set Domain as primary",
        "tags": ["Domain"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                    "tenantId": {
                      "type": "string",
                      "pattern": "^c[^\\s-]{8,}$"
                    },
                    "name": { "type": "string" },
                    "primary": { "type": "boolean" },
                    "type": {
                      "type": "string",
                      "enum": ["protocol", "external"]
                    },
                    "verified": { "type": "boolean" },
                    "verificationRecordType": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordDomain": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordValue": {
                      "type": "string",
                      "nullable": true
                    },
                    "verificationRecordReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" }
                  },
                  "required": [
                    "id",
                    "tenantId",
                    "name",
                    "primary",
                    "type",
                    "verified",
                    "verificationRecordType",
                    "verificationRecordDomain",
                    "verificationRecordValue",
                    "verificationRecordReason",
                    "createdAt",
                    "updatedAt"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/auth/stats/recent-sign-ups": {
      "get": {
        "operationId": "auth-stats-recentSignUps",
        "summary": "Get recent sign ups",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                      "tenantId": {
                        "type": "string",
                        "pattern": "^c[^\\s-]{8,}$"
                      },
                      "name": { "type": "string", "nullable": true },
                      "imageUri": { "type": "string", "nullable": true },
                      "lastSignInAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "lastActiveAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "username": { "type": "string", "nullable": true },
                      "status": {
                        "type": "string",
                        "enum": ["active", "inactive", "suspended"],
                        "nullable": true
                      },
                      "roleId": {
                        "type": "string",
                        "pattern": "^c[^\\s-]{8,}$",
                        "nullable": true
                      },
                      "role": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "name": { "type": "string" },
                          "description": { "type": "string", "nullable": true },
                          "permissions": {
                            "type": "array",
                            "items": { "type": "string" }
                          }
                        },
                        "required": ["id", "name", "permissions"],
                        "additionalProperties": false,
                        "nullable": true
                      },
                      "primaryEmailId": { "type": "string", "nullable": true },
                      "primaryPhoneId": { "type": "string", "nullable": true },
                      "emailAddresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "pattern": "^c[^\\s-]{8,}$"
                            },
                            "tenantId": {
                              "type": "string",
                              "pattern": "^c[^\\s-]{8,}$"
                            },
                            "userId": {
                              "type": "string",
                              "pattern": "^c[^\\s-]{8,}$",
                              "nullable": true
                            },
                            "email": { "type": "string", "format": "email" },
                            "verifiedAt": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "id",
                            "tenantId",
                            "email",
                            "verifiedAt",
                            "createdAt",
                            "updatedAt"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "phoneNumbers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "pattern": "^c[^\\s-]{8,}$"
                            },
                            "tenantId": {
                              "type": "string",
                              "pattern": "^c[^\\s-]{8,}$"
                            },
                            "userId": {
                              "type": "string",
                              "pattern": "^c[^\\s-]{8,}$",
                              "nullable": true
                            },
                            "phone": { "type": "string" },
                            "verifiedAt": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "id",
                            "tenantId",
                            "phone",
                            "verifiedAt",
                            "createdAt",
                            "updatedAt"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "publicMeta": { "nullable": true },
                      "privateMeta": { "nullable": true },
                      "createdAt": { "type": "string", "format": "date-time" },
                      "updatedAt": { "type": "string", "format": "date-time" }
                    },
                    "required": [
                      "id",
                      "tenantId",
                      "name",
                      "emailAddresses",
                      "phoneNumbers",
                      "createdAt",
                      "updatedAt"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/auth/stats/recent-sign-ins": {
      "get": {
        "operationId": "auth-stats-recentSignIns",
        "summary": "Get recent sign ins",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string", "pattern": "^c[^\\s-]{8,}$" },
                      "browser": { "type": "string", "nullable": true },
                      "device": { "type": "string", "nullable": true },
                      "engine": { "type": "string", "nullable": true },
                      "os": { "type": "string", "nullable": true },
                      "cpu": { "type": "string", "nullable": true },
                      "ua": { "type": "string", "nullable": true },
                      "ip": { "type": "string", "nullable": true },
                      "tenantId": {
                        "type": "string",
                        "pattern": "^c[^\\s-]{8,}$"
                      },
                      "userId": {
                        "type": "string",
                        "pattern": "^c[^\\s-]{8,}$"
                      },
                      "user": {},
                      "signInAttemptId": {
                        "type": "string",
                        "pattern": "^c[^\\s-]{8,}$",
                        "nullable": true
                      },
                      "signInAttempt": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "tenantId": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "userId": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$",
                            "nullable": true
                          },
                          "ipAddress": { "type": "string", "nullable": true },
                          "userAgent": { "type": "string", "nullable": true },
                          "identifier": { "type": "string", "nullable": true },
                          "status": { "type": "string", "nullable": true },
                          "strategy": { "type": "string", "nullable": true },
                          "oauthProviderId": {
                            "type": "string",
                            "nullable": true
                          },
                          "oauthProvider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "pattern": "^c[^\\s-]{8,}$"
                              },
                              "tenantId": {
                                "type": "string",
                                "pattern": "^c[^\\s-]{8,}$"
                              },
                              "providerKey": {
                                "type": "string",
                                "enum": [
                                  "google",
                                  "github",
                                  "gitlab",
                                  "apple",
                                  "facebook"
                                ]
                              },
                              "enabled": { "type": "boolean" },
                              "useCustomCredentials": {
                                "type": "boolean",
                                "nullable": true
                              },
                              "clientId": {
                                "type": "string",
                                "nullable": true
                              },
                              "redirectUri": {
                                "type": "string",
                                "nullable": true
                              },
                              "additionalScopes": {},
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            },
                            "required": [
                              "id",
                              "tenantId",
                              "providerKey",
                              "enabled",
                              "createdAt",
                              "updatedAt"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          },
                          "user": {},
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "tenantId",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false,
                        "nullable": true
                      },
                      "signUpAttemptId": {
                        "type": "string",
                        "pattern": "^c[^\\s-]{8,}$",
                        "nullable": true
                      },
                      "signUpAttempt": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "tenantId": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$"
                          },
                          "userId": {
                            "type": "string",
                            "pattern": "^c[^\\s-]{8,}$",
                            "nullable": true
                          },
                          "user": {},
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "tenantId",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false,
                        "nullable": true
                      },
                      "expiresAt": { "type": "string", "format": "date-time" },
                      "createdAt": { "type": "string", "format": "date-time" },
                      "updatedAt": { "type": "string", "format": "date-time" }
                    },
                    "required": [
                      "id",
                      "tenantId",
                      "userId",
                      "expiresAt",
                      "createdAt",
                      "updatedAt"
                    ],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        }
      }
    },
    "/auth/stats/sign-ups-by-day": {
      "get": {
        "operationId": "auth-stats-signUpsByDay",
        "summary": "Get sign ups by day",
        "tags": ["Stats"],
        "parameters": [
          {
            "name": "tenantId",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "pattern": "^c[^\\s-]{8,}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": { "type": "string" },
                      "count": { "type": "number" }
                    },
                    "required": ["date", "count"],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
[...]
